@import url('https://fonts.cdnfonts.com/css/iranyekan');

* {
    font-family: Roboto, "IRANYekan", sans-serif;
}

body {
    background-color: black;
}

@media screen and (min-width : 970px) {
    .header {
        position: sticky;
        display: flex;
        vertical-align: middle;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        padding: 20px 20px 20px 40px;
        top: 0;
        left: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.74);
        backdrop-filter: blur(10px);
    }

    .SideBarIcon {
        position: relative;
        display: none;
        flex-grow: 0;
    }

    .list {
        position: relative;
        display: flex;
        flex-grow: 10;
        flex-direction: row-reverse;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 15px;
        padding-left: 70px;
        padding-right: 20px;
        font-size: 85%;
        font-weight: bold;
    }

    .list div a {
        text-decoration: none;
        color: #acafb3;
        transition: 0.3s;
    }

    .list div a:hover {
        text-decoration: none;
        color: #ffffff;
    }

    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        text-align: right;
        opacity: 0;
        visibility: hidden;
        position: absolute;
        background-color: #111111e4;
        min-width: 200px;
        z-index: 1;
        border-radius: 5px;
        right: 20px;
        transition: 0.3s;
        backdrop-filter: blur(10px);
    }

    .dropdown-content a {
        color: rgba(0, 0, 0, 0.795);
        padding: 12px 16px;
        text-decoration: none;
        font-size: x-small;
        display: block;
    }

    .dropdown-content a:hover {
        text-decoration: none;
        color: #ffffff;
        background-color: rgba(0, 0, 0, 0.735);
    }

    .dropdown:hover .dropdown-content {
        opacity: 1;
        visibility: visible;
    }

    .SearchBox input::placeholder {
        text-align: right;
        color: rgba(255, 255, 255, 0.495);
    }

    .SearchBox input {
        outline: none;
        text-align: right;
        color: #ffffff;
        background-color: #141414;
        border: none;
    }

    .SearchBox a {
        padding-top: 3px;
        display: flex;
        background-color: #141414;
        border: none;
        text-decoration: none;
    }

    .SearchBox i {
        color: #ffffffad;
        font-size: larger;
        background-color: #141414;
    }

    .SearchBox div {
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
    }

    .SearchBox {
        position: relative;
        vertical-align: middle;
        border-radius: 3px;
        flex-grow: 10;
        flex-shrink: 1;
        background-color: #141414;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-right: 25px;
        padding-left: 15px;
        right: 20px;
    }

    .img-container {
        display: grid;
        grid-template-columns: repeat(4 , 1fr);
        grid-gap: 20px;
        z-index: 0;
    }
    .img-container img {
        border-radius: 3px;
        max-width: 305px;
        width: 100%;
    }
    .description{
        display: none;
        z-index: 1;
    }
}

@media screen and (min-width: 630px) and (max-width: 970px) {
    .header {
        position: sticky;
        display: flex;
        vertical-align: middle;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        padding: 20px 20px 0px 40px;
        background-color: black;
        backdrop-filter: blur(50px);
    }

    .icon {
        padding-left: 10px;
        padding-right: 10px;
    }

    .SideBarIcon {
        padding-left: 15px;
        text-decoration: none;
        color: white;
    }

    .list {
        display: none;
    }

    .SearchBox input::placeholder {
        text-align: right;
        color: rgba(255, 255, 255, 0.495);
    }

    .SearchBox i {
        color: #ffffffad;
        font-size: larger;
        background-color: #141414;
    }

    .SearchBox input {
        outline: none;
        text-align: right;
        color: #ffffff;
        background-color: #141414;
        border: none;
    }

    .SearchBox a {
        padding-top: 3px;
        display: flex;
        background-color: #141414;
        border: none;
        text-decoration: none;
    }

    .SearchBox div {
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
    }

    .SearchBox {
        vertical-align: middle;
        flex-grow: 10;
        flex-shrink: 1;
        background-color: #141414;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-right: 25px;
        padding-left: 25px;
    }
    .img-container {
        display: grid;
        grid-template-columns: repeat(2 , 1fr);
        grid-gap: 20px;
        z-index: 0;
    }
    .img-container img {
        border-radius: 3px;
        max-width: 403px;
        width: 100%;
    }
}

@media screen and (max-width: 630px) {
    .header {
        position: sticky;
        display: flex;
        vertical-align: middle;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        padding: 20px 20px 0px 40px;
        background-color: black;
        backdrop-filter: blur(50px);
    }

    .icon {
        padding-left: 10px;
        padding-right: 10px;
    }

    .SideBarIcon {
        padding-left: 15px;
        text-decoration: none;
        color: white;
    }

    .list {
        display: none;
    }

    .SearchBox input {
        display: none;
    }

    .SearchBox a {
        padding-top: 3px;
        display: flex;
        background-color: #000000;
        border: none;
        text-decoration: none;
    }

    .SearchBox i {
        background-color: #000000;
        color: #ffffffad;
        font-size: larger;
        background-color: #141414;
    }
    .img-container {
        display: grid;
        grid-template-columns: repeat(4 , 1fr);
        grid-gap: 20px;
        z-index: 0;
    }
    .img-container img {
        border-radius: 3px;
        max-width: 305px;
        width: 100%;
    }
}