@media screen and (max-width: 1280px) and (min-width: 1030px) {
    
    @font-face {
        font-family: "IRANSansWeb";
        src: url("https://db.onlinewebfonts.com/t/002254488ce1877d55ad3693e527ad1e.eot");
        src: url("https://db.onlinewebfonts.com/t/002254488ce1877d55ad3693e527ad1e.eot?#iefix")format("embedded-opentype"),
        url("https://db.onlinewebfonts.com/t/002254488ce1877d55ad3693e527ad1e.woff2")format("woff2"),
        url("https://db.onlinewebfonts.com/t/002254488ce1877d55ad3693e527ad1e.woff")format("woff"),
        url("https://db.onlinewebfonts.com/t/002254488ce1877d55ad3693e527ad1e.ttf")format("truetype"),
        url("https://db.onlinewebfonts.com/t/002254488ce1877d55ad3693e527ad1e.svg#IRANSansWeb")format("svg");
    body{
        background-color: rgb(0, 0, 0);
        font-family: "IRANSansWeb";
    }
    .header {
        display: flex;
        justify-content: space-between;
        justify-items: right;
        flex: wrap;
        justify-content: space-evenly;
        background-color: rgba(0, 0, 0, 0.776);
        opacity: 5px;
        padding: 15px 0px 30px 0px;
    }
    .header-menu {
        display: flex;
        flex: wrap;
        flex-direction: row-reverse;
        gap: 25px;
        padding-top: 15px;
        font-size: 13px;
    }
    .dropbutton{
        text-decoration: none;
        color: #c6c9cc;
    }
    .dropdown {
        position: relative;
        display: inline-block;
    }
    .dropdown-content {
        text-align: right;
        display: none;
        position: absolute;
        background-color: #272727d8;
        backdrop-filter: blur(5px);
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }
    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }
    .dropdown-content a:hover {
        background-color: black;
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }
    .dropbutton:hover{
        text-decoration: none;
        color: #ffffff;
    }
    .dropdown:hover .dropdown-content {
        display: block;
    }
    .header-menu a {
        text-decoration: none;
        color: #c6c9cc;
    }
    .header-menu div {
        text-decoration: none;
        color: #c6c9cc;
    }
    .header-menu a:hover {
        text-decoration: none;
        color: #ffffff;
    }
    .searchbox {
        background-color: rgb(37, 37, 37);
        padding-left: 20px;
        padding-right:20px;
        border-radius: 5px;
        display: flex;
    }
    .searchbox a {
        background-color: rgb(37, 37, 37);
        border: none;
        padding-top: 10px;
    }
    .searchbox input {
        background-color: rgb(37, 37, 37);
        border: none;
    }
    .searchbox input:focus {
        outline: none;
        direction: rtl;
        color: white;
    }
    .searchbox input::placeholder {
        font-size:small;
        text-align: right;
        font-family: IRANSans, 'IRANSans', Tahoma;
    }
    .searchbox img {
        height: 20px;
        width: 20px;
    }
    .images {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .images div img {
        height: 170px;
        width: 300px;
        border-radius: 5px;
    }
    .images div {
        display: inline-block;
        position: relative;
        border: solid 3px black;
        transition-duration: 0.6s;
    }
    .images img {
        display: inline-block;
        position: relative;
        display: block;
        overflow: hidden;
    }
    .images figcaption {
        color: white;
        position: absolute;
        text-align: right;
        top: 0; 
        bottom: 0; 
        left: 0; 
        right: 0; 
        padding-right: 40px;
        padding-bottom: 70px;
        display: flex; 
        flex-direction: column; 
        justify-content: center;
        line-height: 1.1em;
        opacity: 0; 
        z-index: 2;
    }
    .images figcaption:hover{
        opacity: 1;
    }
    .images div:hover{
        filter: brightness(50%);
    }
    .footer{
        font-size: xx-large;
        font-style: italic;
        font-stretch: expanded; 
        color: violet;
    }
}
@media screen and (max-width: 1030px) and (min-width: 800px) {
    body{
        background-color: rgb(0, 0, 0);
        font-family: IRANSans, 'IRANSans', Tahoma;
    }
    .header {
        display: flex;
        justify-content: space-around;
        background-color: rgba(0, 0, 0, 0.776);
        opacity: 5px;
        padding: 15px 0px 30px 0px;
    }
    .header-menu {
        display: flex;
        flex-direction: row-reverse;
        gap: 25px;
        padding-top: 15px;
        font-size: 13px;
    }
    .dropbutton{
        text-decoration: none;
        color: #c6c9cc;
    }
    .dropdown {
        position: relative;
        display: inline-block;
    }
    .dropdown-content {
        text-align: right;
        display: none;
        position: absolute;
        background-color: #272727d8;
        backdrop-filter: blur(5px);
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }
    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }
    .dropbutton:hover{
        text-decoration: none;
        color: #ffffff;
    }
    .dropdown:hover .dropdown-content {
        display: block;
    }
    .header-menu a {
        text-decoration: none;
        color: #c6c9cc;
    }
    .header-menu div {
        text-decoration: none;
        color: #c6c9cc;
    }
    .header-menu a:hover {
        text-decoration: none;
        color: #ffffff;
    }
    .searchbox {
        background-color: rgb(37, 37, 37);
        padding-left: 20px;
        padding-right:20px;
        border-radius: 5px;
        display: flex;
    }
    .searchbox a {
        background-color: rgb(37, 37, 37);
        border: none;
        padding-top: 10px;
    }
    .searchbox input {
        background-color: rgb(37, 37, 37);
        border: none;
    }
    .searchbox input:focus {
        outline: none;
        direction: rtl;
        color: white;
    }
    .searchbox input::placeholder {
        font-size:small;
        text-align: right;
        font-family: IRANSans, 'IRANSans', Tahoma;
    }
    .searchbox img {
        height: 20px;
        width: 20px;
    }
    .images {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .images a img {
        height: 170px;
        width: 300px;
        border-radius: 5px;
    }
    .images a {
        border: solid 3px black;
    }
    .images a:hover{
        filter: brightness(60%);
    }
    .footer{
        font-size: xx-large;
    }
}
}